.produto {
    background-color: aliceblue;
    width: 30%;
}

.produto img {
    margin-top: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
    height: 78%;
}

.botao-compra {
    background-color: #7D9D7D;
    padding: 10px;
    border-radius: 10px;
}

.corpo {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 10px;
}